<nav class="navbar">
    <div class="navbar-brand">TodoApp</div>
    <ul class="nav-links">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true">🗒️</span> To-do List
            </NavLink>
        </li>
    </ul>
</nav>
